.menuMinifiedItem {
  font-size: 1.2rem;
  margin: 1rem;
  transition: all 0.2s;
}

.menuMinifiedItem:hover {
  font-style: italic;
  color: lightblue !important;
}

.menuMinifiedItem.disabled {
  color: #2f9dc2 !important;
  font-style: italic;
}