body {
    color: linen;
    background-color: #000B3A;
}

body, input, textarea, button {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 30px;
}

main {
    margin: 1rem auto;
    min-height: 100vh;
}

.publicPageTitle {
    color: lightblue;
    margin: 1rem auto;
    text-align: center;
}

.userBar {
    background-image: linear-gradient(to bottom, #000B3A, #3f59c2);
}

.username {
    line-height: 1rem;
}

footer p {
    font-size: 1rem;
}

.table-rounded{
    border-radius: 0.5rem
}


@import "./animations/pingping.css";
.UpAndDownAnimation {
    position: relative;
    animation-name: pingping;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@import "./LoadingProgress.css";