body {
    color: linen;
    background-color: #000B3A;
}

body, input, textarea, button {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 30px;
}

main {
    margin: 1rem auto;
    min-height: 100vh;
}

.publicPageTitle {
    color: lightblue;
    margin: 1rem auto;
    text-align: center;
}

footer p {
    font-size: 1rem;
}