body {
    color: #D1D1D1;
    background-color: #000B3A;
}

body, input, textarea, button {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 30px;
}

main {
    margin: 1rem auto;
}